<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gjob.mapper.AccountMapper">

	<insert id="insertGmember" parameterType="MemberVO">
		INSERT INTO MEMBER(MNO, ID, PASSWD, MNAME, EMAIL, MPHONE, MCLASS)
		VALUES (SEQ_MEMBER.NEXTVAL, #{id}, #{passwd}, #{mname}, #{email}, #{mphone}, #{mclass})
	</insert>
	
	<insert id="insertGmember2" parameterType="GMemberVO">
		INSERT INTO G_MEMBER(MNO, BIRTHDATE)
		VALUES (SEQ_MEMBER.CURRVAL, #{birthDate})
	</insert>
	
	<insert id="insertCmember" parameterType="CMemberVO">
		INSERT INTO C_MEMBER(MNO, BLNO, CNAME)
		VALUES (SEQ_MEMBER.CURRVAL, #{blno}, #{cname})
	</insert>
	
	
	<select id="selectMemberByEmailAndPasswd" 
			parameterType="MemberVO" resultType="MemberVO">
		SELECT *
		FROM member
		WHERE id = #{ id } AND passwd = #{ passwd }
	</select>	
	
	<resultMap type="MemberVO" id="memberMap">
		<id column="mno" property="mno" />
		<result column="id" property="id" />
		<result column="passwd" property="passwd" />
		<result column="mname" property="mname" />
		<result column="email" property="email" />
		<result column="mphone" property="mphone" />
		<result column="signup" property="signup" />
		<result column="admin_type" property="admin_type" />
		<result column="mclass" property="mclass" />
		<collection property="gmember" column="mno" resultMap="gmemberMap" />
	</resultMap>
	<resultMap type="GMemberVO" id="gmemberMap">
		<id column="mno" property="mno" />
		<result column="birthDate" property="birthDate" />
	</resultMap>
	<select id="selectGMemberBirth" parameterType="MemberVO" resultMap="memberMap">
		SELECT *
		FROM member m
		INNER JOIN g_member g
		ON m.mno = g.mno
		WHERE id = #{ id }
	</select>

	<resultMap type="MemberVO" id="memberMap2">
		<id column="mno" property="mno" />
		<result column="id" property="id" />
		<result column="passwd" property="passwd" />
		<result column="mname" property="mname" />
		<result column="email" property="email" />
		<result column="mphone" property="mphone" />
		<result column="signup" property="signup" />
		<result column="admin_type" property="admin_type" />
		<result column="mclass" property="mclass" />
		<collection property="cmember" column="mno" resultMap="cmemberMap" />
	</resultMap>
	<resultMap type="CMemberVO" id="cmemberMap">
		<id column="mno" property="mno" />
		<result column="birthDate" property="birthDate" />
		<result column="blno" property="blno" />
		<result column="cname" property="cname" />
		<result column="authority" property="authority" />
	</resultMap>
	<select id="selectCMemberAtt" parameterType="MemberVO" resultMap="memberMap2">
		SELECT *
		FROM member m
		INNER JOIN c_member c
		ON m.mno = c.mno
		WHERE id = #{ id }
	</select>
	
<!--  -->
</mapper>