<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gjob.mapper.ManageMapper">

	<select id="selectIndustry1" resultType="Industries1VO">
		SELECT *
		FROM INDUSTRIES1
	</select>
	
	<resultMap type="Industries1VO" id="industry1Map">
		<id column="i1no" property="i1no"/>
		<result column="industry1" property="industry1"/>
		<collection property="industries2" column="i1no" resultMap="industry2Map"/>
	</resultMap>
	<resultMap type="Industries2VO" id="industry2Map">
		<id column="i2no" property="i2no"/>
		<result column="i1no" property="i1no"/>
		<result column="industry2" property="industry2"/>
	</resultMap>
	<select id="selectIndustry1from2" parameterType="String" resultMap="industry1Map">
		SELECT ib.*
		FROM INDUSTRIES1 ia
		INNER JOIN INDUSTRIES2 ib
		ON ia.i1no = ib.i1no
		WHERE ia.i1no = #{ i1no }
	</select>

	<insert id="insertIndustry1" parameterType="String">
		INSERT INTO INDUSTRIES1(I1NO, INDUSTRY1)
		VALUES (SEQ_INDUSTRIES1.NEXTVAL, #{industry1})
	</insert>

	<insert id="insertIndustry2" parameterType="String">
		INSERT INTO INDUSTRIES2(I2NO, I1NO, INDUSTRY2)
		VALUES (SEQ_INDUSTRIES2.NEXTVAL, SEQ_INDUSTRIES1.CURRVAL, #{industry2})
	</insert>

	<insert id="insertIndustry2from1" parameterType="hashMap">
		INSERT INTO INDUSTRIES2(I2NO, I1NO, INDUSTRY2)
		VALUES (SEQ_INDUSTRIES2.NEXTVAL, #{i1no}, #{industry2})
	</insert>

</mapper>