<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gjob.mapper.NoticeMapper">

<!-- 	<resultMap type="NoticeVO" id="noticeMap">
		<id column="b_no" property="bno" />
		<result column="mno" property="mno" />
		<result column="b_title" property="btitle" />
		<result column="b_contents" property="bcontents" />
		<result column="b_Date" property="bdate" />
	</resultMap> -->

	<insert id="insertNoticeBoard" parameterType="NoticeVO">
		<selectKey keyProperty="b_no" resultType="int" order="AFTER">
			SELECT seq_notice.currval FROM DUAL
		</selectKey>
			INSERT INTO notice (
				b_no, mno, b_title, b_contents, b_Date
			)
			VALUES (
				seq_notice.nextval, #{ mno }, #{ b_title }, #{ b_contents }, sysdate
			)
	</insert>

</mapper>