<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gjob.mapper.ReviewMapper">

<!-- 	<resultMap type="NoticeVO" id="noticeMap">
		<id column="b_no" property="bno" />
		<result column="mno" property="mno" />
		<result column="b_title" property="btitle" />
		<result column="b_contents" property="bcontents" />
		<result column="b_Date" property="bdate" />
	</resultMap> -->

	<insert id="insertReview" parameterType="ReviewVO">
		INSERT INTO REVIEW(RNO, MNO, CNO, REVIEW, GNO, SNO)
		VALUES (SEQ_REVIEW.NEXTVAL, #{mno}, #{cno}, #{review}, SEQ_REVIEW.CURRVAL, 1)
	</insert>
	
	<select id="selectReviewsByCno" parameterType="int" resultType="reviewVO">
		SELECT 
			rno rno,
			mno mno,
			cno cno,
			review review,
			review_date review_date,
			deleted deleted,
			gno gno,
			sno sno,
		FROM REVIEW
		WHERE cno = #{ cno }
	</select>
	
	<update id="updateSno" parameterType="ReviewVO">
		<![CDATA[
		UPDATE review
		SET sno = sno + 1
		WHERE gno = #{ gno } AND sno > #{ sno }
		]]>
	</update>
	
	<update id="deleteReview" parameterType="int">
		UPDATE review
		SET deleted = '1'
		WHERE rno = #{ rno }
	</update>
	
	<update id="updateReview" parameterType="ReviewVO">
		UPDATE review
		SET review = #{ review }
		WHERE rno = #{ rno }
	</update>
	

</mapper>