table {
	margin-bottom: 20px;
	width: 100%;
}

td {
	border: 1px solid #E8E8E8 !important;
	/* background: #f9f9ff !important; */
	/* padding: 15px 10px 30px 10px !important; */
	padding: 10px;
	color: #949494;
}

.table-head {
	text-align: center !important;
}

.job_listing_area.plus_padding {
	padding-top: 0px !important;
}

.noticeMenuArea {
	text-align: right !important;
}

.noticeWriteBox {
	max-width: 100% !important;
}

.progress-table .nnumber {
	width: 10% !important;
}

.progress-table .ntitle {
	width: 70% !important;
	padding-left: 30px !important;
}

.progress-table .ndate {
	width: 20% !important;
	text-align: center !important;
	padding-left: 30px !important;
}